:global {
	@keyframes rubberBand {
	  from {
	    transform: scale3d(1, 1, 1);
	  }

	  15% {
	    transform: scale3d(1.25, 0.75, 1);
	  }

	  20% {
	    transform: scale3d(0.75, 1.25, 1);
	  }

	  25% {
	    transform: scale3d(1.15, 0.85, 1);
	  }

	  32.5% {
	    transform: scale3d(.95, 1.05, 1);
	  }

	  37.5% {
	    transform: scale3d(1.05, .95, 1);
	  }

		50% {
			transform: scale3d(1, 1, 1);
		}

	  to {
	    transform: scale3d(1, 1, 1);
	  }
	}

	.rubberBand {
		animation: 2s rubberBand 1s infinite ease-in-out;
	}
}
