@import "variables/colors";

body, html, #container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	font-family: 'Roboto', sans-serif;
	background: $color2;
}

h1 {
	font-family: 'Rubik', sans-serif;
}

* {
	box-sizing: border-box;
}
