# See http://help.github.com/ignore-files/ for more about ignoring files.

public

# dependencies
node_modules

# testing
coverage

# production
coverage
deploy
deploy-branch
dist

# misc
.DS_Store
.env
npm-debug.log

# Sublime Text
*.sublime-project
*.sublime-workspace
