@import "variables/easing";
@import "variables/colors";

:local {
	.root {
		position: absolute;
		bottom: 20px;
		top: 20px;
		padding: 20px;
		border-radius: 20px;
		width: calc(100% - 40px);
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		z-index: 10;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.correct {
		composes: root;
		background: $color3;
		color: $black;
	}

	.incorrect {
		composes: root;
		color: $color2;
		background: $color4;
		display: block;
	}

	.show {
		transform: translateY(-20px);
	}

	.title {
		$stroke-color: $black;
		text-shadow:
	    -1px -1px 0 $stroke-color,
	    1px -1px 0 $stroke-color,
	    -1px 1px 0 $stroke-color,
	    1px 1px 0 $stroke-color;
		color: white;
		font-size: 40px;
		letter-spacing: 0.9px;
		margin-bottom: 20px;
	}
}

.flash {
	transform-origin: center center;
	animation: none;
}

.flash-appear,
.flash-enter {
	@extend .flash;
	transition: transform 350ms $ease-out-back;
	transform: scale(0);
}

.flash-appear-active,
.flash-enter-active {
	transform: scale(1);
}

.flash-leave {
	@extend .flash;
	transform: scale(1);
}

.flash-leave-active {
	transition: transform 300ms $ease-in-back;
	transform: scale(0);
}
