@import "variables/easing";

:local {
	.root {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.answer {
		flex-basis: 100%;
		padding: 5px;

		@media (min-width: 500px) {
			flex-basis: 50%;
		}
	}
}

.answers-appear {
	transition: transform 500ms 50ms $ease-out-back;
	transform: scale(0);
}

.answers-appear-active {
	transform: scale(1);
}

.answers-leave {
	transition: transform 500ms 50ms $ease-out-back;
	transform: scale(1);
}

.answers-leave-active {
	transform: scale(0);
}
